.update-language-information-container{
    width:-webkit-fill-available;
}
.update-language-information-container .display-flex{
    display: flex;
}
.update-language-information-container .container{
    width:-webkit-fill-available;
}