input{
    height: 1.5vw;
    width: -webkit-fill-available;;
    min-height: 25px;
    border-radius: 5px;
    border: 1px solid #9a9a9a;
}
select:hover{
    border: 1px solid #8316b5;
}
select:focus-visible{
    outline: none;
}
input:focus,textarea:focus{
    outline: none;
    border:none;
    box-shadow: 0 0 0 0.35rem rgb(217 155 245);
    
}
input:hover,textarea:hover{
    border: 1px solid #8316b5;
}
textarea{
    width: -webkit-fill-available;
    height: 20vw;
    border-radius: 10px;
    border: 1px solid #9a9a9a;
}
.form-container{
    font-family: cursive;
    margin-bottom: 100px;
}
.form-container h1{
    text-align: center;
    color: #8707c1;
}
form select{
    width: -webkit-fill-available;
    height: 1.5vw;
    min-height: 25px;
    border: 1px solid #9a9a9a;
}
.open-position-number-form{
    margin-right: 10px;
}
.input-select{
    margin-top: 10px;
}
.city-job-way-type-container .select-container{
    padding-right: 10px;
}
.form-item{
    margin-top: 1.3vw;
}
#type-of-work-select{
    padding: 0;
}
.salary-container{
    display: flex;
}
.min-salary-form{
    margin-right: 10px;
}

.input-feedback {
    color: red;
    margin-top: 0.25rem;
    font-size: 15px;
}
.city-job-way-type-container{
    display: grid;
    grid-template-columns: calc(100%/4) calc(100%/4) 
     calc(100%/4) calc(100%/4);
}
.open-position-deadline-container{
    display: grid;
    grid-template-columns: calc(100%/2) calc(100%/2) 
}
.salary-container{
    display: grid;
    grid-template-columns: calc(100%/2) calc(100%/2) 
}

.submit-btn{
    margin-top: 30px;
    text-align: center;
}
.submit-btn button{
    background-color: #403e3e;
    color: white;
    cursor: pointer;
    width: 8vw;
    height: 2vw;
    min-width: 80px;
    min-height: 30px;
    font-size: larger;
    border-radius: 5px;
    
}
.submit-btn button:hover{
    background-color: #585555;
}


@media screen and (max-width: 1200px){
    .city-job-way-type-container{
        display: grid;
        grid-template-columns: calc(100%);
    }
}
